<div class="card">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col">#</div>
        <div class="col-4 col-lg-3">TEAM</div>
        <div class="col">P</div>
        <div class="col wide-only">W</div>
        <div class="col wide-only">D</div>
        <div class="col wide-only">L</div>
        <div class="col wide-only">F</div>
        <div class="col wide-only">A</div>
        <div class="col">GD</div>
        <div class="col">PTS</div>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush" *ngFor="let position of positions">
    <li class="list-group-item">
      <app-league-position [leaguePosition]="position"></app-league-position>
    </li>
  </ul>
</div>
