.container{
  cursor:pointer;
}


.league-position-1, .league-position-2, .league-position-3, .league-position-4{
  background-color: #072d5b;
  display: inline-block;
}

.league-position-5{
  background-color: #ab5e03;
  display: inline-block;
}

.league-position-18, .league-position-19, .league-position-20{
  background-color: #961a3d;
  display: inline-block;
}

