@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";


// $mat-primary-palette: mat-palette($mat-indigo);
// $mat-accent-palette: mat-palette($mat-light-green);

// $app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);
// $app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

// @include angular-material-theme($app-light-theme);

// // following section is for dark mode.
// // use appropriate class name for darkMode
// .darkMode {
//   @include angular-material-theme($app-dark-theme);
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wide-only, .full-text {
  display: none;
}
.short-text
{
  display: block;
}

@include media-breakpoint-up(md) {
  .wide-only, .full-text {
    display: block;
  }
  .short-text
  {
    display: none;
  }
}

.card-img-top {
  max-width: 100px;
  max-height: 100px;
  // display: block;
  width: auto;
  // height: auto;
}

.crest-image-small {
  max-width: 20px;
  max-height: 20px;
  display: block;
  width: auto;
  height: auto;
}

.team-card {
  cursor: pointer;
}
