/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.css';
@import "~bootstrap/scss/bootstrap-grid.scss";


@import "~@angular/material/theming";

$mat-primary-palette: mat-palette($mat-indigo);
$mat-accent-palette: mat-palette($mat-light-green);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

@include angular-material-theme($app-light-theme);

// following section is for dark mode.
// use appropriate class name for darkMode
.darkMode {
  @include angular-material-theme($app-dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wide-only, .full-text {
  display: none;
}
.short-text
{
  display: block;
}

@include media-breakpoint-up(lg) {
  .wide-only, .full-text {
    display: block;
  }
  .short-text
  {
    display: none;
  }
}

.crest-image {
  max-width: 50px;
  max-height: 50px;
  display: block;
  width: auto;
  height: auto;
}

.crest-image-small {
  max-width: 20px;
  max-height: 20px;
  display: block;
  width: auto;
  height: auto;
}
